In [1]:
a= 12

In [2]:
lis = ['mty','slp','cdmx','ags','tx','ny']

In [3]:
print(lis[1])

slp

In [4]:
print(lis[1:3])

['slp', 'cdmx']

In [5]:
lis[:3]

['mty', 'slp', 'cdmx']

In [6]:
lis[1:]

['slp', 'cdmx', 'ags', 'tx', 'ny']

In [7]:
type(lis)

list

In [12]:

lis.append('mty')
lis.append('hms')

In [13]:
lis.insert(3,'toluca')

In [14]:
print(lis)

['mty', 'slp', 'cdmx', 'toluca', 'ags', 'tx', 'ny', 'mty', 'hms']

In [16]:
lis1=['manzana','pera','platano']
lis2= ['fresa','tuna','pera']

In [20]:
lis1.append(lis2)

In [21]:
lis1

['manzana',
 'pera',
 'platano',
 ['fresa', 'tuna', 'pera'],
 ['fresa', 'tuna', 'pera'],
 ['fresa', 'tuna', 'pera'],
 ['fresa', 'tuna', 'pera']]

In [22]:
del lis1
del lis2

In [27]:
lis1=['manzana','pera','platano']
lis2= ['fresa','tuna','pera']

In [28]:
lis1.extend(lis2)

In [33]:
lis1

['manzana', 'pera', 'platano', 'fresa', 'tuna', 'pera', 'kiwi', 'naranja']

In [30]:
lis2

['fresa', 'tuna', 'pera']

In [32]:
lis1.extend(['kiwi','naranja'])

In [36]:
print(lis.index('mty'))

0

In [37]:
lis

['mty', 'slp', 'cdmx', 'toluca', 'ags', 'tx', 'ny', 'mty', 'hms']

In [38]:
lis.sort()#ordena alfabéticamente siempre que sean el mismo tipo de dato
print(lis)

['ags', 'cdmx', 'hms', 'mty', 'mty', 'ny', 'slp', 'toluca', 'tx']

In [47]:
lis.sort(reverse = False)

In [48]:
lis

['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'toluca']

In [39]:
'ny'in lis

True

In [40]:
print(lis.index('ny'))

5

In [41]:
#eliminar un elemento de la lista
lis.remove('mty')

In [50]:
lis

['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp']

In [43]:
ultimo= lis.pop()#encuentra el ultimo elemento de la lista

print(ultimo)

tx

In [49]:
lis.pop()

'toluca'

In [51]:
print(lis*4)

['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp']

In [52]:
lis_repetida = lis *4
print( lis_repetida)

['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'ags', 'cdmx', 'hms', 'mty', 'ny', 'slp']

contar cuantas veces se repite in elemento en la lista

In [56]:
lis_repetida.count('mty')
lis_repetida.count('ny')

4

TUPLAS
CREAR TUPLA CON NÚMEROS DEL 1-20

In [61]:
tup = tuple(range(1,21))

In [62]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [63]:
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

imprimir desde el índice 10 al 15

In [65]:
print(tup[10:16])

(11, 12, 13, 14, 15, 16)

Con la lista creada en el punto uno, validar si existe una variable('Paris'), y si no existe, agregarlo. Utilizaruna variable e informar lo sucedido

In [68]:
nuevo= 'Paris'
if(not(nuevo in lis)):
  lis.append(nuevo)
  print('Se agregó el elemento Paris a la lista')
  print(lis)
else:
  print('El elemnto ya existe en la lista')

El elemnto ya existe en la lista

In [69]:
lis.count('mty')
tup.count(3)

1

convertir una tupla en lista

In [71]:
lis2= list(tup)
print(lis2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

convertir una lista en tupla

In [72]:
tup = tuple(lis2)
print ( tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

Desempaquetar solo los tres primero elementos de una tupla en 3 variables

In [74]:
a1,a2,a3= tup[:3]

In [75]:
a1

1

In [76]:
a2

2

hacer lo contrario( empaquetar)

In [77]:
tup2 = a1,a2, a3

In [78]:
tup2

(1, 2, 3)

Crear un diccionario utilizando la ista creada en el punto uno, asignándole la clave 'ciudad'. Agregar también otras claves como puede ser 'País', 'Continente'.

In [79]:
dicc = {'ciudad' : lis,
        'Pais': ['Bra','Mx','Us','Fr','Vnz','Arg'],
        'Continente': ['América','Africa','Europa','Asia','Oceania']}

In [85]:
print(dicc)

{'ciudad': ['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'Paris', 'España'], 'Pais': ['Bra', 'Mx', 'Us', 'Fr', 'Vnz', 'Arg'], 'Continente': ['América', 'Africa', 'Europa', 'Asia', 'Oceania']}

Acceder a las claves del diccionario

In [81]:
print(dicc.keys())

dict_keys(['ciudad', 'Pais', 'Continente'])

Imprimir las ciudades a través de su clave

In [82]:
print(dicc['ciudad'])

['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'Paris']

In [83]:
print(dicc.values())

dict_values([['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'Paris'], ['Bra', 'Mx', 'Us', 'Fr', 'Vnz', 'Arg'], ['América', 'Africa', 'Europa', 'Asia', 'Oceania']])

se puede hacer todo lo de las listas, como por ekemplo agregar elementos con el método appen

In [84]:
dicc['ciudad'].append('España')

In [86]:
dicc['Pais'].append('Canada')

In [87]:
print(dicc)

{'ciudad': ['ags', 'cdmx', 'hms', 'mty', 'ny', 'slp', 'Paris', 'España'], 'Pais': ['Bra', 'Mx', 'Us', 'Fr', 'Vnz', 'Arg', 'Canada'], 'Continente': ['América', 'Africa', 'Europa', 'Asia', 'Oceania']}